extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/", method="POST")
    input(name="game_title", type="text", placeholder="Title of Game")
    input(name="img_url", type="text", placeholder="URL of Cover Art")
    input(name="description", type="text", placeholder="Enter short description")
    input(name="time_played", type="number", value="0", placeholder="Enter time played in minutes")
    button(type="submit") Submit
  if games
    h1 Games
    for game in games
      p #{game.title}
